/* page structure */
.container{
    display: flex;
}
.col{
    flex: 1;
}
/* page text */
.left {
	text-align: left;
}
.right {
	text-align: right;
}
/* generic classes */
.lighter {
	background: rgba(255, 255, 255, 0.2);
}
.darker {
	background: rgba(0, 0, 0, 0.2);
}
.rowheader {
	color: darkgreen;
}
.rowfooter {
	color: orange;
}
/* c3 graphs */
.c3-line {
	fill-opacity: 0;
	stroke-width: 4;
}
.c3-legend-item {
	fill: #ffffff;
}
/* sample specific classes */
.reveal h1.red{
	color: red;
}
.title.black {
	color: black;
}
